.container
    max-width: 1100px
    margin: auto

.requires
    background-color: #000
    &-title
        font-family: Manrope
        font-style: normal
        font-weight: bold
        font-size: 40px
        line-height: 55px
        color: #FFFFFF
        padding-top: 56px
        padding-bottom: 40px
.splide
    &__slide
        overflow: hidden
        &_wrapper
            max-width: 1100px

            margin: auto
            display: flex
            justify-content: space-between
            margin: auto
            overflow: hidden
            padding-bottom: 52px
            &_card
                background-color: #fff
                width: 300px
                border-radius: 8px
                padding-left: 16px
                &-name
                    font-family: Manrope
                    font-style: normal
                    font-weight: bold
                    font-size: 16px
                    line-height: 22px
                    color: #0C0C0C
                    padding-top: 22px
                    padding-bottom: 22px

                &-text
                    font-family: Manrope
                    font-style: normal
                    font-weight: normal
                    font-size: 14px
                    line-height: 19px
                    color: #0C0C0C
                    max-width: 250px
    &__pagination
        left: 10%

        &__page
            width: 16px
            height: 16px

            background: #666666
        &__page.is
            &-active
                width: 24px
                height: 24px
                color: #fff
                background: #FFFFFF
